.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 5px 30px 5px;
  gap: 25px;
}
.adminButton {
  background-color: darkgrey;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: black;
  box-shadow: 0px 5px 20px 0px darkgrey;
  -webkit-box-shadow: 0px 5px 20px 0px darkgrey;
  -moz-box-shadow: 0px 5px 20px 0px darkgrey;
}

.adminButton:hover{
  background-color: rgb(63, 63, 63);
}
.popup {
  width: 90%;
  max-height: 90%;
  height: 80%;
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  overflow-y: visible;
  margin-right: 20px;
  margin-top: 30px;
  box-shadow: 0px 5px 96px 0px darkgrey;
  -webkit-box-shadow: 0px 5px 96px 0px darkgrey;
  -moz-box-shadow: 0px 5px 96px 0px darkgrey;
}

.exitPopup {
  font-size: 40px;
  height: 40px;
}

.mainPopup {
  padding: 5px;
  overflow-y: scroll;
  max-height: 90%;
  margin-right: 5%;
  height: 100%;
}

.SelectInput {
  position: absolute;
  width: 70%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px 0 20px;
}
.form_add_position {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.userDiv {
  width: 100%;
  min-height: 80px;
  max-height: 85px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid darkgray;
}
.userName{
  font-size: 25x;
}

.userPosition{
  font-size: 15px;
  text-align: center;
}

.Button {
  width: 85px;
  height: 50px;
  border-radius: 10%;
  padding: 10px;
  border: 1px solid darkgrey;
  background-color: darkgrey;
}

.input_admin {
  border-radius: 10%;
  padding-right: 10px;
  width: 80%;
  height: 50px;
}

.connect_user_positions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.deleteUserDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30%;
}
